[landslide]
source      = index.md
destination = ./index.html

; directory where the theme is defined (not repository root)
theme       = ../landslide-theme/avalanche/avalanche

; include syntax highlighting css, then presentation-specific css
css         = ../landslide-theme/avalanche/custom_css/pygments/default.css

; embed JS & CSS into output file for standalone html output
embed       = True

; no line numbers in code view
linenos     = no
